@charset "utf-8";


.section { position: relative; overflow: hidden; }
.section .section-wrap { position: relative; }
.title-wrap { text-align: center; margin-bottom: 24px; font-size: 32px; color: #000; font-weight: bold; }
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip { color: #000; }

.header { position: fixed; width: 100%; height: 50px; background: #fff; z-index: 3; }
.header ul { display: flex; height: 100%; }
.header ul li { flex: 1; width: 100%;  }
.header ul li a { display: block; text-align: center; width: 100%; height: 100%; line-height: 50px; font-size: 28px; color: #000; }
.header ul li a.active { background: rgb(253, 148, 148); color: #fff; }



/* section0 */
#section0 .bg { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; background: #4d2269; }
#section0 .bg img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%; display: block; }
.scroll-downs {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width :34px;
  height: 55px;
  cursor: pointer;
  z-index: 3;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


/* section1 */
#section1 { background: #f3f3f3; }
/* slick-style */
.slide-item { max-width: 450px; max-height: 450px; transform: scale(.45); transition: all .8s; border-radius: 30px; overflow: hidden; border: 3px dashed #e6c16b; box-sizing: border-box; cursor: pointer; }
.slide-item img { display: block; margin: 0 auto; width: 100%; filter: grayscale(100%); transition: all 0.8s; }
.slick-active .slide-item, .slick-active .slide-item:hover { transform: scale(1); }
.slide-item:hover { transform: scale(.7); }
.slick-active .slide-item img, .slide-item:hover img { filter: none; }
#pager { text-align: center; margin-top: 16px; }
#pager > div { display: inline-block; vertical-align: text-bottom; }
#pager .slick-arrow span { cursor: pointer; display: inline-block; width: 30px; height: 30px; vertical-align: top; border-radius: 50%; border: 1px solid #515151; box-sizing: border-box; }
#pager .slick-arrow span img { display: block; max-width: 100%; max-height: 100%; }
#pager .slick-arrow.prev { margin-right: 10px; }
#pager .slick-arrow.next { margin-left: 10px; }
#pager .img-number span { font-size: 24px; }
#pager .img-number span.among { margin: 0 10px; }






/* section2 */
:root {
  --roulette: 500px;
  --roulette--half: 250px;
}

.wrapper {
    position: relative;
    width: var(--roulette);
    height: var(--roulette);
    margin: 45px auto 0;
  }
  .wrapper .circleWrap {
    width: 100%;
    height: 100%;
    border: 10px solid #ffca12;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
  }
  .wrapper .circleWrap .rouleWrap {
    width: var(--roulette);
    height: var(--roulette);
    position: relative;
    left: -10px;
    top: -10px;
    z-index: 10;
  }
  .wrapper .circleWrap .rouleWrap.active {
    transform: var(--move);
    transition: all 10s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper .circleWrap .rouleWrap:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #f27935;
    border-radius: 50%;
    z-index: 100;
  }
  .wrapper .circleWrap .rouleWrap .item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: var(--width);
    height: var(--roulette--half);
    margin: 0 auto;
    transform-origin: var(--bdWidth) var(--roulette--half);
    z-index: 10;
  }
  .wrapper .circleWrap .rouleWrap .item .bx {
    display: block;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    text-align: center;
    z-index: 10;
    color: #333;
  }
  .wrapper .circleWrap .rouleWrap .item .bx span.txt {
    display: block;
    color: #c1c0c5;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .wrapper .circleWrap .rouleWrap .item .bx strong {
    display: block;
    font-size: 2rem;
    color: #ec702c;
    font-weight: 600;
  }
  .wrapper .circleWrap .rouleWrap .item .bx span.img {
    display: inline-block;
    max-width: 20%;
  }
  .wrapper .circleWrap .rouleWrap .item .bx span.img img {
    width: 100%;
    height: auto;
  }
  .wrapper .circleWrap .rouleWrap .item:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--roulette--half) var(--bdWidth) 0;
    border-color: #f50 transparent transparent;
  }
  .wrapper .circleWrap .rouleWrap .item:after {
    display: block;
    width: 4px;
    height: 100%;
    background-color: #f27935;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: rotate(calc( var(--deg) / 2 )) translateX(-4px);
    transform-origin: 0 100%;
    z-index: 50;
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(1) {
    transform: rotate(calc( var(--deg) * 1 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(2) {
    transform: rotate(calc( var(--deg) * 2 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(3) {
    transform: rotate(calc( var(--deg) * 3 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(4) {
    transform: rotate(calc( var(--deg) * 4 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(5) {
    transform: rotate(calc( var(--deg) * 5 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(6) {
    transform: rotate(calc( var(--deg) * 6 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(7) {
    transform: rotate(calc( var(--deg) * 7 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(8) {
    transform: rotate(calc( var(--deg) * 8 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(9) {
    transform: rotate(calc( var(--deg) * 9 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(10) {
    transform: rotate(calc( var(--deg) * 10 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(11) {
    transform: rotate(calc( var(--deg) * 11 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(12) {
    transform: rotate(calc( var(--deg) * 12 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(13) {
    transform: rotate(calc( var(--deg) * 13 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(14) {
    transform: rotate(calc( var(--deg) * 14 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(15) {
    transform: rotate(calc( var(--deg) * 15 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(odd):before {
    border-color: #fff transparent transparent;
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(even):before {
    border-color: #f8f8f8 transparent transparent;
  }
  .wrapper .circleWrap .dotWrap {
    width: var(--roulette);
    height: var(--roulette);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
  .wrapper .circleWrap .dotWrap > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 5px;
    height: var(--roulette--half);
    margin: 0 auto;
    transform-origin: 2px var(--roulette--half);
    z-index: 10;
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(1) {
    transform: rotate(calc( var(--deg) * 1 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(2) {
    transform: rotate(calc( var(--deg) * 2 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(3) {
    transform: rotate(calc( var(--deg) * 3 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(4) {
    transform: rotate(calc( var(--deg) * 4 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(5) {
    transform: rotate(calc( var(--deg) * 5 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(6) {
    transform: rotate(calc( var(--deg) * 6 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(7) {
    transform: rotate(calc( var(--deg) * 7 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(8) {
    transform: rotate(calc( var(--deg) * 8 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(9) {
    transform: rotate(calc( var(--deg) * 9 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(10) {
    transform: rotate(calc( var(--deg) * 10 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(11) {
    transform: rotate(calc( var(--deg) * 11 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(12) {
    transform: rotate(calc( var(--deg) * 12 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(13) {
    transform: rotate(calc( var(--deg) * 13 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(14) {
    transform: rotate(calc( var(--deg) * 14 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(15) {
    transform: rotate(calc( var(--deg) * 15 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:after {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
  }
  .wrapper .pin {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ec702c;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-50%, 0px);
    z-index: 20;
  }
  .wrapper .pin:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #ec702c transparent transparent;
    border-width: 22px 20px 0;
    position: absolute;
    left: 50%;
    top: 37px;
    transform: translateX(-50%);
  }
  .wrapper .pin:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
  }
  .wrapper .btnStart {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    background-color: #ec702c;
    border-radius: 50%;
    z-index: 100;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
  }
  
  .btnArea {
    position: relative;
    margin-top: 50px;
    text-align: center;
  }
  .btnArea > button {
    height: 50px;
    padding: 0 1em;
    margin: 0 5px;
    font-size: 1.3rem;
    background-color: #fff;
    border: 5px solid #333;
    cursor: pointer;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: skew(-45deg);
  }













@media screen and (max-width: 768px) {
  .slide-item { max-width: 100%; max-height: 100%; border-radius: 0; border: 5px dashed #e6c16b; border-left: 0; }
  .slide-item, .slide-item:hover { transform: scale(1); }
  #pager .img-number span.among { margin: 0 5px; }

}

@media screen and (max-width: 680px) {
  :root {
    --roulette: 400px;
    --roulette--half: 200px;
  }

  .header ul li a { font-size: 24px; }
  
  .wrapper .circleWrap .rouleWrap .item .bx { top: 40px; }
  .wrapper .circleWrap .rouleWrap .item .bx span.txt { font-size: 1em; }
}

@media screen and (max-width: 480px) {
  :root {
    --roulette: 300px;
    --roulette--half: 150px;
  }

  #fp-nav { display: none; }
  .header ul li a { font-size: 20px; }

  .wrapper .btnStart { width: 76px; height: 76px; font-size: 1.3em; }
  .wrapper .circleWrap .rouleWrap .item .bx { top: 34px; }
  .wrapper .circleWrap .rouleWrap .item .bx strong { font-size: 23px; }
  .wrapper .circleWrap .rouleWrap .item .bx span.txt { margin-bottom: 4px; font-size: 16px; }
}




