@charset "utf-8";


.section { position: relative; overflow: hidden; padding-top: 50px; }
.section .section-wrap { position: relative; }
.title-wrap { text-align: center; margin-bottom: 5px; font-size: 32px; color: #000; font-weight: bold; word-break: keep-all; }
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip { color: #000; }

.header { position: fixed; width: 100%; height: 50px; background: #fff; z-index: 3; }
.header ul { display: flex; height: 100%; border-bottom: 3px solid #fd9494; }
.header ul li { flex: 1; width: 100%;  }
.header ul li a { display: block; text-align: center; width: 100%; height: 100%; line-height: 50px; font-size: 28px; color: #000; }
.header ul li a.active { background: rgb(253, 148, 148); color: #fff; }


/* section0 */
#section0 .bg { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: -1; background: #4d2269; }
#section0 .bg img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); max-width: 100%; max-height: 100%; display: block; }
.scroll-downs {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width :34px;
  height: 55px;
  cursor: pointer;
  z-index: 3;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


/* section1 */
#section1 { background: #f3f3f3; }
#section1 .title-wrap { margin-bottom: 16px; }
/* slick-style */
.slide-item { max-width: 450px; max-height: 450px; transform: scale(.45); transition: all .8s; border-radius: 30px; overflow: hidden; border: 3px dashed #e6c16b; box-sizing: border-box; cursor: pointer; background: #fff; }
.slide-item img { display: block; margin: 0 auto; width: 100%; filter: grayscale(100%); transition: all 0.8s; }
.slick-active .slide-item, .slick-active .slide-item:hover { transform: scale(1); }
.slide-item:hover { transform: scale(.7); }
.slick-active .slide-item img, .slide-item:hover img { filter: none; }
#pager { text-align: center; margin-top: 16px; }
#pager > div { display: inline-block; vertical-align: text-bottom; }
#pager .slick-arrow span { cursor: pointer; display: inline-block; width: 30px; height: 30px; vertical-align: top; border-radius: 50%; border: 1px solid #515151; box-sizing: border-box; }
#pager .slick-arrow span img { display: block; max-width: 100%; max-height: 100%; }
#pager .slick-arrow.prev { margin-right: 10px; }
#pager .slick-arrow.next { margin-left: 10px; }
#pager .img-number span { font-size: 24px; }
#pager .img-number span.among { margin: 0 10px; }






/* section2 */
:root {
  --roulette: 500px;
  --roulette--half: 250px;
}

.wrapper {
    position: relative;
    width: var(--roulette);
    height: var(--roulette);
    margin: 45px auto 0;
  }
  .wrapper .circleWrap {
    width: 100%;
    height: 100%;
    border: 10px solid #ffca12;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 12;
  }
  .wrapper .circleWrap .rouleWrap {
    width: var(--roulette);
    height: var(--roulette);
    position: relative;
    left: -10px;
    top: -10px;
    z-index: 10;
  }
  .wrapper .circleWrap .rouleWrap.active {
    transform: var(--move);
    transition: all 10s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .wrapper .circleWrap .rouleWrap:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #f27935;
    border-radius: 50%;
    z-index: 100;
  }
  .wrapper .circleWrap .rouleWrap .item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: var(--width);
    height: var(--roulette--half);
    margin: 0 auto;
    transform-origin: var(--bdWidth) var(--roulette--half);
    z-index: 10;
  }
  .wrapper .circleWrap .rouleWrap .item .bx {
    display: block;
    position: absolute;
    left: 0;
    top: 55px;
    width: 100%;
    text-align: center;
    z-index: 10;
    color: #333;
  }
  .wrapper .circleWrap .rouleWrap .item .bx span.txt {
    display: block;
    color: #c1c0c5;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .wrapper .circleWrap .rouleWrap .item .bx strong {
    display: block;
    font-size: 2rem;
    color: #ec702c;
    font-weight: 600;
  }
  .wrapper .circleWrap .rouleWrap .item .bx span.img {
    display: inline-block;
    max-width: 20%;
  }
  .wrapper .circleWrap .rouleWrap .item .bx span.img img {
    width: 100%;
    height: auto;
  }
  .wrapper .circleWrap .rouleWrap .item:before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--roulette--half) var(--bdWidth) 0;
    border-color: #f50 transparent transparent;
  }
  .wrapper .circleWrap .rouleWrap .item:after {
    display: block;
    width: 4px;
    height: 100%;
    background-color: #f27935;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: rotate(calc( var(--deg) / 2 )) translateX(-4px);
    transform-origin: 0 100%;
    z-index: 50;
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(1) {
    transform: rotate(calc( var(--deg) * 1 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(2) {
    transform: rotate(calc( var(--deg) * 2 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(3) {
    transform: rotate(calc( var(--deg) * 3 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(4) {
    transform: rotate(calc( var(--deg) * 4 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(5) {
    transform: rotate(calc( var(--deg) * 5 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(6) {
    transform: rotate(calc( var(--deg) * 6 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(7) {
    transform: rotate(calc( var(--deg) * 7 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(8) {
    transform: rotate(calc( var(--deg) * 8 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(9) {
    transform: rotate(calc( var(--deg) * 9 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(10) {
    transform: rotate(calc( var(--deg) * 10 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(11) {
    transform: rotate(calc( var(--deg) * 11 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(12) {
    transform: rotate(calc( var(--deg) * 12 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(13) {
    transform: rotate(calc( var(--deg) * 13 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(14) {
    transform: rotate(calc( var(--deg) * 14 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(15) {
    transform: rotate(calc( var(--deg) * 15 ));
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(odd):before {
    border-color: #fff transparent transparent;
  }
  .wrapper .circleWrap .rouleWrap .item:nth-child(even):before {
    border-color: #f8f8f8 transparent transparent;
  }
  .wrapper .circleWrap .dotWrap {
    width: var(--roulette);
    height: var(--roulette);
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 10;
  }
  .wrapper .circleWrap .dotWrap > div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 5px;
    height: var(--roulette--half);
    margin: 0 auto;
    transform-origin: 2px var(--roulette--half);
    z-index: 10;
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(1) {
    transform: rotate(calc( var(--deg) * 1 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(2) {
    transform: rotate(calc( var(--deg) * 2 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(3) {
    transform: rotate(calc( var(--deg) * 3 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(4) {
    transform: rotate(calc( var(--deg) * 4 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(5) {
    transform: rotate(calc( var(--deg) * 5 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(6) {
    transform: rotate(calc( var(--deg) * 6 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(7) {
    transform: rotate(calc( var(--deg) * 7 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(8) {
    transform: rotate(calc( var(--deg) * 8 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(9) {
    transform: rotate(calc( var(--deg) * 9 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(10) {
    transform: rotate(calc( var(--deg) * 10 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(11) {
    transform: rotate(calc( var(--deg) * 11 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(12) {
    transform: rotate(calc( var(--deg) * 12 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(13) {
    transform: rotate(calc( var(--deg) * 13 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(14) {
    transform: rotate(calc( var(--deg) * 14 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:nth-child(15) {
    transform: rotate(calc( var(--deg) * 15 - ( var(--deg) / 2) ));
  }
  .wrapper .circleWrap .dotWrap > div:after {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
  }
  .wrapper .pin {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ec702c;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-50%, 0px);
    z-index: 20;
  }
  .wrapper .pin:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: #ec702c transparent transparent;
    border-width: 22px 20px 0;
    position: absolute;
    left: 50%;
    top: 37px;
    transform: translateX(-50%);
  }
  .wrapper .pin:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%;
  }
  .wrapper .btnStart {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;
    background-color: #ec702c;
    border-radius: 50%;
    z-index: 100;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.5em;
  }
  
  .btnArea {
    position: relative;
    margin-top: 50px;
    text-align: center;
  }
  .btnArea > button {
    height: 50px;
    padding: 0 1em;
    margin: 0 5px;
    font-size: 1.3rem;
    background-color: #fff;
    border: 5px solid #333;
    cursor: pointer;
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    transform: skew(-45deg);
  }


/* section3 */
#section3 { background: #f2eee2; }
.letter-box .txt { position: relative; margin: 0 auto; width: 100%; max-width: 500px; background: url('../images/bg_letter2.jpg') no-repeat center; box-sizing: border-box; padding: 24px 16px; font-size: 24px; word-break: keep-all; box-shadow: 4px 4px 9px rgb(195 129 129); background-size: 100% 100%; }
.letter-box .txt span { display: block; text-align: right; }
.letter-box .txt button { position: absolute; display: block; top: 10px; right: 10px; width: 35px; height: 35px; background: transparent; margin: 0 auto; padding: 0; border: 0; margin-bottom: 20px; cursor: pointer; }
.letter-box .txt button img { display: block; width: 100%; height: 100%; }
.letter-box .txt button:hover img { filter: invert(1); }

.letter-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  max-width: 100%;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.letter-image .title-wrap { position: absolute; width: 100%; top: -70px; }
.animated-mail {
  position: absolute;
  top: 0;
  left: 50%;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #e95f55 transparent;
  z-index: 2;
}
.animated-mail .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #cf4a43 transparent transparent transparent;
  z-index: 2;
}
.animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #cf4a43;
  z-index: 0;
}
.animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #e15349;
  z-index: 2;
}
.animated-mail .letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}
.animated-mail .letter .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(-45deg, #cb5a5e, #cb5a5e 8px, transparent 8px, transparent 18px);
}
.animated-mail .letter .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #cb5a5e;
}
.animated-mail .letter .letter-context {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 20%;
  background: #cb5a5e;
}
.animated-mail .letter .letter-stamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #cb5a5e;
  opacity: 0.3;
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.letter-image:hover .animated-mail {
  transform: translate(-50%, 50px);
  -webkit-transform: translate(-50%, 50px);
  -moz-transform: translate(-50%, 50px);
}
.letter-image:hover .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  -webkit-transition: transform 0.4s, z-index 0.2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 0.4s, z-index 0.2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letter-image:hover .animated-mail .letter {
  height: 180px;
}
.letter-image:hover .shadow {
  width: 250px;
}
.letter-wrap { display: none; padding: 0 4% 16px; }



.footer { position: fixed; left: 10px; bottom: 10px; }
#container {
  height: 60px;
  width: 60px;
  background: rgba(255,255,255,.8);
  border-radius: 24px;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
  transition: .5s linear;
  cursor: pointer;
}
#container:before {
  content: "\f001";
  font-family: FontAwesome;
  font-size: 26px;
  background: -webkit-linear-gradient(50deg, #FD9F85 50%, #E837C2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FF7E24;
  position: absolute;
  line-height: 60px;
  left: calc(50% - 2px);
  transform: translateX(-50%);
}
#container.active {
  background: rgba(255,255,255,1);
}
#container.active #disc {
  left: 55px;
  transform: rotate(360deg), translate(-50%,-50%);
  
}
#disc {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: -1;
  border-radius: 50%;
  background: transparent;
  transition: .9s linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow:
    0 8px 6px -8px rgba(0,0,0,0.5),
    0 0 1px 1px rgba(0,0,0,0.5),
    0 0 0 1px #666 inset,
    0 0 0 2px #222 inset,
    0 30px 0px -29px #444 inset,
    0 -30px 0px -29px #444 inset,
    0 0 0 3px #333 inset,
    0 0 0 4px #222 inset,
    0 0 0 5px #333 inset,
    0 33px 0px -27px #444 inset,
    0 -33px 0px -27px #444 inset,
    0 0 0 6px #222 inset,
    0 0 0 7px #333 inset,
    0 0 0 8px #222 inset,
    0 34px 0px -25px #444 inset,
    0 -34px 0px -25px #444 inset,
    0 0 0 9px #333 inset,
    0 0 0 10px #222 inset,
    0 0 0 11px #333 inset,
    0 35px 0px -23px #444 inset,
    0 -35px 0px -23px #444 inset,
    0 0 0 12px #222 inset,
    0 0 0 13px #333 inset,
    0 0 0 14px #222 inset,
    0 36px 0px -21px #444 inset,
    0 -36px 0px -21px #444 inset,
    0 0 0 15px #333 inset,
    0 0 0 16px #222 inset,
    0 0 0 17px #333 inset,
    0 37px 0px -19px #444 inset,
    0 -37px 0px -19px #444 inset,
    0 0 0 18px #222 inset,
    0 0 0 19px #333 inset,
    0 0 0 20px #222 inset,
    0 38px 0px -17px #444 inset,
    0 -38px 0px -17px #444 inset,
    0 0 0 21px #333 inset,
    0 0 0 22px #222 inset,
    0 0 0 23px #333 inset,
    0 39px 0px -15px #444 inset, 
    0 -39px 0px -15px #444 inset, 
    0 0 0 24px #222 inset,
    0 0 0 25px #333 inset,  
    0 0 0 26px #222 inset,
    0 40px 0px -13px #444 inset,
    0 -40px 0px -13px #444 inset,
    0 0 0 27px #333 inset,
    0 0 0 28px #222 inset,
    0 0 0 29px #333 inset,
    0 41px 0px -11px #444 inset,
    0 -41px 0px -11px #444 inset,
    0 0 0 30px #222 inset,
    0 0 0 43px #333 inset,
    0 0 0 45px #AF2A10 inset,
    0 0 0 47px #333 inset,
    0 0 0 62px #AF2A10 inset,
    0 0 10px 78px rgba(0,0,0,0.5) inset;
}

audio { display: none; }





@media screen and (max-width: 768px) {
  .title-wrap { font-size: 26px; }
  #section1 .title-wrap { margin-bottom: 8px; }
  .slide-item { max-width: 100%; max-height: 100%; border-radius: 0; border: 5px dashed #e6c16b; border-left: 0; }
  .slide-item, .slide-item:hover { transform: scale(1); }
  #pager .img-number span.among { margin: 0 5px; }
  #container { width: 50px; height: 50px; border-radius: 18px; }
  #container:before { line-height: 50px; }
  #disc { width: 45px; height: 45px; }
  #container.active #disc { left: 46px; }
}

@media screen and (max-width: 680px) {
  :root {
    --roulette: 400px;
    --roulette--half: 200px;
  }

  .header ul li a { font-size: 24px; }
  
  .wrapper .circleWrap .rouleWrap .item .bx { top: 40px; }
  .wrapper .circleWrap .rouleWrap .item .bx span.txt { font-size: 1em; }
}

@media screen and (max-width: 480px) {
  :root {
    --roulette: 300px;
    --roulette--half: 150px;
  }

  #fp-nav { display: none; }
  .header ul li a { font-size: 20px; }

  .wrapper .btnStart { width: 76px; height: 76px; font-size: 1.3em; }
  .wrapper .circleWrap .rouleWrap .item .bx { top: 34px; }
  .wrapper .circleWrap .rouleWrap .item .bx strong { font-size: 23px; }
  .wrapper .circleWrap .rouleWrap .item .bx span.txt { margin-bottom: 4px; font-size: 16px; }
  #disqus_thread { width: 98%; }
  .letter-image .title-wrap { padding: 0 4%; box-sizing: border-box; top: -45px; }
  .letter-wrap { padding: 0 4% 4%; }
}




